.block {
    border: 2px dashed gray;
}

.block:hover {
    border: 2px solid green;
}

.block .actions {
    visibility: hidden
}

.block:hover .actions {
    visibility: visible
}


.show-actions-on-hover .v-card__title .actions {
    visibility: hidden
  }
  .show-actions-on-hover:hover .v-card__title .actions {
    visibility: visible
  }


table { color: white; }